extends layout

block content
  div.row
    div(class="col-md-8")
      each publication in publications
        div(class="card")
          div.card-header 
            a(href="forum/"+publication.slug)
              span.card-title #{publication.title}
          div.card-body
            span #{truncate(publication.content)}
          div.card-footer
            ul.nav
              li.nav-item
                <img src="https://avatars2.githubusercontent.com/u/1901273?s=460&v=4" width="35" alt="" class="rounded-circle">
              li.nav-item
                span.nav-link <span class="footer__author">#{publication.author.name}</span> published #{moment(publication.createdAt).fromNow()}
              each tag in publication.tags
                li.nav-item.tag-item
                  a(href="#", class="nav-link") #{tag}
    div(class="col-md-4")
      div.form-search
        div.form-group
          button(class="btn btn-info btn-block btn-forum")  Nueva publicación
      div.tags-section
        h4 Tags
        div.list-group.tag-list
          a.list-group-item.list-group-item-action.active(href="#") All
          a.list-group-item.list-group-item-action(href="#") Node
          a.list-group-item.list-group-item-action(href="#") PHP