extends layout

block content
  div.row
    div(class="col-md-3")
      div.section-user.text-center
        img(src="https://avatars2.githubusercontent.com/u/1901273?s=460&v=4", class="rounded-circle", width="120")
        br
        br
        span #{publication.author.name}
    div(class="col-md-9")
      h1 #{publication.title}
      span <span class="footer__author">#{publication.author.name}</span> published #{moment(publication.createdAt).fromNow()}
      div(class="card mt-3 mb-2")
        div.card-header 
        div.card-body
          p #{publication.content}
